*

!.gitignore
!LICENSE.txt
!poetry.lock
!pyproject.toml

!README.md

!.github/
!.github/**

!pyorthanc/
!pyorthanc/**

!tests/
!tests/**

!docs/
!docs/**
docs/build/

*.pyc
__pycache__/
OrthancStorage/

