*

!.gitignore
!setup.py
!mypy.ini
!requirements.txt
!gitlab-ci.yml
!LICENSE.txt

!README.md

!pyorthanc/
!pyorthanc/**

!tests/
!tests/**

!docs/
!docs/**
docs/build/

*.pyc
__pycache__/
OrthancStorage/

