*

!.gitignore
!LICENSE.txt
!.dockerignore
!pyproject.toml

!README.md
!docker-compose.yaml

!.github/
!.github/**

!pyorthanc/
!pyorthanc/**

!tests/
!tests/**

!scripts/
!scripts/**

!docs/
!docs/**
docs/build/

!docker/
!docker/**

!examples/
!examples/**

*.pyc
__pycache__/
OrthancStorage/

